{{template "base" .}}

{{define "content"}}
    <div class="row">
        <div class="col">
            <h1 class="text-center mt-5">Search For Availability</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>

        <form action="/search-availability" class="needs-validation" novalidate method="post">
            <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col">
                    <div id="reservation-date" class="row">
                        <div class="col-md-3">
                            <input required autocomplete="off" class="form-control" type="text" name="start"
                                   placeholder="Arrival">
                        </div>
                        <div class="col-md-3">
                            <input required autocomplete="off" class="form-control" type="text" name="end"
                                   placeholder="Departure">
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <button type="submit" class="btn btn-primary">Search Availability</button>
        </form>
    </div>

{{end}}

{{define "js"}}
    <script>
        applyValidateForm()
        const elem = document.getElementById('reservation-date');
        const rangepicker = new DateRangePicker(elem, {
            format: "yyyy-mm-dd"
        });
    </script>
{{end}}
